@media (max-width: 576px) {
    .site-nav {
        text-align: center;
        width: 40px;
    }
    

    .title-text {
        max-width: 216px;
        width: 216px;
        margin: 0 auto;
        margin-bottom: 19px;
    }

    /* TEAM SECTION*/
    .team-section {
        margin: 0;
        padding: 0;
       
    }
     .team-title {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 14px;
    }

    .team-wrraper {
        margin-bottom: 28px;
        text-align: center;
    }

}

@media (min-width: 760px) and (max-width: 1169px)  {
    .container {
        width: 760px;
        
    }
    /* HEADER */
    .page-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 90px;
    }
    .site-nav {
        margin: 0;
        padding: 0;
        order: 1;
    }
    .logo-wrraper {
        align-self: flex-start;
    }
    .site-logo {
        margin: 0;
        padding: 0;
        
    }
    .button-nav {
        width: 230px;
    }

    /* TEAM SECTION */
    .team-title {
        text-align: center;
        margin-bottom: 40px;
    }
    .future-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 38px;
    }
    .team-wrraper {
        flex: 0 0 270px;
    } 
    
    .buttom-box {
        margin: 0 auto;
        text-align: center;
    }
    .button-partners {
        width: 230px;
    }
    


}

@media (min-width: 1170px) {
    .container {
        width: 1170px;
    }
    
    .page-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 90px;
    }
    .site-nav {
        order: 1;
        margin: 0;
        padding: 0;
    }

    .site-logo {
        margin: 0;
        padding: 0;
        
    }    
    .button-nav {
        width: 230px;

    }
   
    .team-title {
        text-align: center;
        margin-bottom: 40px;
    }
    .future-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 38px;
    }
    .team-wrraper {
        flex: 0 0 270px;
    } 
    .buttom-box {
        margin: 0 auto;
        text-align: center;
    }
    .button-partners {
        width: 230px;
    }
}