body {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.main-menu {
    margin: 77px 314px 103px 313px;
    text-align: center;

}


.main-menu li {
    display: inline-block;
    margin-right: 121px;

}

.main-menu-link {
    text-decoration: none;
    font-family: 'Playfair Display', serif;


}

.main-content {
    margin: 0px 150px;
}

.box1,
.box2 {
    display: inline-block;
    width: 420px;
    margin-bottom: 130px;

}

.box1 {
    margin-left: 150px;
    overflow: hidden;

.box2 {
    margin-left: 60px;
    overflow: hidden;
}

.img-description {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
}

.headline {
    font-size: 30px;
}

.load {
    width: 164px;
    height: 60px;
    display: inline-block;
    margin-right: 507px;
    margin-left: 529px;
    margin-bottom: 70px;
    border: 1px solid black;
    box-sizing: border-box;


}

.load p {
    text-align: center;
    font-size: 20px;

}