html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* font-family: 'Roboto Slab', sans-serif; */
  font-size: 14px;
  line-height: 21px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  margin: 0 auto;
}


/* HEADER SECTION */
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 126px;
}

.site-navigation {
  display: flex;
  min-width: 400px;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}

.site-navigation a {
  display: block;
  text-decoration: none;
  padding-right: 40px;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.site-navigation a:hover {
  color: #fed136;
  transition: all 200ms linear;
}

/* MAIN*/
/* SERVICES SECTION */
.services-section {
  margin-bottom: 120px;
}

.text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.services-hedline {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.services-paragraph {
  font-family: 'Roboto', sans-serif;
  color: rgba(119, 119, 119, 255);
}


.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-list-item {
  display: flex;
  align-items: center;
  max-width: 274px;
  flex-direction: column;

}

.basket {
  width: 68px;
  height: 67px;
  border: 3px solid #fed136;
  border-radius: 50%;
  background-image: url(../img/icon/Icon-Basket.png);
  background-repeat: no-repeat;
  background-position: center;
}

.computer {
  width: 68px;
  height: 67px;
  border: 3px solid #fed136;
  border-radius: 50%;
  background-image: url(../img/icon/Icon-Laptop.png);
  background-repeat: no-repeat;
  background-position: center;
}

.locked {
  width: 68px;
  height: 67px;
  border: 3px solid #fed136;
  border-radius: 50%;
  background-image: url(../img/icon/Icon-Locked.png);
  background-repeat: no-repeat;
  background-position: center;
}

.features-list-paragraph {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
}

.features-list-text {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 14px;
  color: rgba(119, 119, 119, 255);
  text-align: center;

}

/* FOOTER SECTION */

.footer-fon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 678px;
  background-color: #222222;
}

.map-image {
  position: absolute;
  align-self: flex-end;
  width: 614px;
  height: 538px;
  margin-top: 120px;
  background-image: url(../img/MapImage.png)
}

.warper {
  display: flex;
  flex-direction: column;
}

.contact-box {
  flex-direction: column;
  align-self: center;
  width: 300px;
  margin-top: 110px;
  margin-bottom: 74px;
}

.contact-title {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.contact-paragraph {
  color: #777777;
  text-align: center;
  font-family: 'Roboto', sans-serif;


}

.form-box {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 30px;
}

.form-list {
  display: flex;
  list-style: none;



}

.form-list input:hover,
.form-list input:focus {
  outline: 0;
}

.form-list input[name="name"]:valid,
.form-list input[name="email"]:valid {
  outline: 2px solid green;

}

.form-list input[name="name"]:invalid,
.form-list input[name="email"]:invalid {
  outline: 2px solid red;

}

.wraper-form-list {
  display: flex;
  flex-direction: column;
}

.wraper-form {
  display: flex;
}
input::placeholder {
  color: rgba(187, 187, 187, 255);
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}


.fields-box {
  display: flex;
  flex-direction: column;
}

.form {
  width: 454px;
  height: 50px;
  margin: 0 30px 30px 0;
  border: none;
  border-radius: 4px;
}

.texteria-box {
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

.textarea-form {
  width: 454px;
  height: 210px;
  resize: none;
  border: none;
  border-radius: 4px;
}
.textarea-form::placeholder {
  color: rgba(187, 187, 187, 255);
  padding-left: 20px;
  padding-top: 16px;
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;

}

.form-list textarea[name="message"]:valid {
  outline: 2px solid green;
}

.form-list textarea[name="message"]:invalid {
  outline: 2px solid red;
}

.button-box {
  align-self: center;
  margin: 0 auto;

}

.message-but {
  width: 240px;
  height: 66px;
  border: none;
  border-radius: 4px;
  background-color: #fed136;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}