html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    min-width: 100vh;
  }
.container {
    width: 1116px;
    min-width: 100vh;
    margin: 0 auto;
    padding: 0;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}



/* SITE NAVIGATION */
.header {
    margin-top: 38px;
    margin-bottom: 34px;
}

.site-logo {
    display: inline-block;
}

.site-navigation {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    float: right;
    margin-top: 8px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;

}

.site-navigation li {
    float: left;
}

.site-navigation li:not(:last-child) {
    margin-right: 40px;
}

.site-navigation a {
    text-decoration: none;
    color: #000000;

}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

/* SLIDER SECTION */
.slider-section {
    width: 100%;
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif; 
}
.slider {
    position: relative;
    width: 100%;
    height: 600px;
}
.slider-ctrl {
    position: absolute;
    border: none;
    display: inline-block;
    width: 104px;
    height: 104px;
    top: 45%;
    transform: translateY(-45%);
    opacity: 0.6;
    background-color: #54a08f;
    z-index: 5;
}
.slider-ctrl-prev {
    left: 230px;
}
.slider-ctrl-next {
    right: 250px;
}
.slides {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slides-item {
    position: relative;
}
.slide-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}
.slide-desc {
    position: absolute;
    top: 170px;
    right: 420px;
    width: 738px;
    height: 98px;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 36px;
}
.slide-text {
    position: absolute;
    width: 466px;
    bottom: 294px;
    right: 690px;
    color: #ffffff;
    font-size: 20px;
    
}


/* COLECTION SECTION */
.colection-section {
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif; 
}
.title-section {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgba(81, 81, 81, 255);
}

.title-section::after {
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 78px;

}
.colection {
    margin: 0;
    padding: 0;
}

.colection-team {
    list-style: none;
    width: 254px;
    display: block;
    
    
}
.card {
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    width: 258px;
}
.card:nth-child(4n) {
    margin-right: 0;
}

/* .overlay {
    position: absolute;
    width: 234px;
    height: 258px;
    background-color: rgb(115, 115, 115, 0.5);
    display: none;
    
    
} */
.overlay {
    width: 90%;
    height: 260px;
    background-color: #00000060;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.overlay-icon {
    position: absolute;
    left: 22px;
    top: 78px;
 }
 
/* CARD-BUTTON */
.card-button {
    display: inline-block;
    border:  1px solid white;
    margin: 0;
    padding: 0;
    margin-left: 6px;
    width: 50px;
    height: 50px;
    background-color: transparent; /* Прозрачность фона */
}

.card-button:hover {
    background-color: #1abc9c;
}

.button-basket {
    display: block;
    border:  1px solid white;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 50px;
    padding-top: 8px;
    margin-left: 6px;
    position: absolute;
    margin-top: 136px;
    left: 22px;
    background: transparent;

}
.button-basket:hover {
    background-color: #323232;

}
.button-basket img {
    float: left;
    padding: 8px;
    padding-top: 2px;

}
.card-text {
    float: right;
    margin: 0;
    padding-right: 10px;
    padding-top: 8px;
    color: #ffffff;
    
}

.team-img {
    display: block;
    width: 254px;
    height: 280px;
    margin: 0;
    padding: 0;
    /* position: relative; */
}
.card:hover .overlay {
    display: block;
}

.card:hover .product, .price {
    background-color: #1abc9c;
}
.card:hover .price {
    background-color: #7fdec7;
}
.product {
    position: absolute;
    width: 234px;
    height: 40px;
    top: 258px;
    background-color: #323232;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    padding: 10px 14px;
}
.price {
    position: absolute;
    display: block;
    width: 70px;
    height: 40px;
    padding: 12px;
    top: 258px;
    left: 180px;
    background-color: #8c8c8c;
    margin: 0;
    color: #ffffff;
    font-size: 18px;
}

/* FOOTER SECTION */
.footer-section {
    width: 100%;
    height: 88px;;
    background-color: #323232;
    /* position: relative; */
}

.paragraph-text {
    display: block;
    text-align: center;
    color: #fefefe;
    padding-top: 40px;
}
.graph {
    color: #396d63;
}



