html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: $main-font-stack;
    font-size: 14px;
    line-height: 21px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  