$main-font-stack: 'Montserrat', sans-serif;
$secondary-fonts:'Kaushan Script';
$next-fonts:'Roboto';
$none: none;
$transition: background-color 200ms linear;


/*COLORS*/ 
$gradient: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
$primary-white-color:  #ffffff;
$secondary-bg-color: #fce38a;
$psevdo-bg-color: #f38181;
$services-color: #95e1d3;
$text-color: #b6b6b6;
$location-color: #f48b8b;